/*
    Example usage:
    @include animation(10s, 5s, changecolour)
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.border-box, .zdtw-testimonial {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.zdtw-container {
  position: relative; }

.zdtw-testimonial.show-multiple {
  padding: 0 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms; }
  .zdtw-testimonial.show-multiple.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

.zdtw-nav {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 45%;
  border-radius: 10px; }
  .zdtw-nav span {
    position: absolute;
    top: 5px; }
  .zdtw-nav.zdtw-prev {
    left: 0; }
    .zdtw-nav.zdtw-prev span {
      left: 2px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: solid 5px;
      border-color: rgba(0, 0, 0, 0) #333333 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }
  .zdtw-nav.zdtw-next {
    right: 0; }
    .zdtw-nav.zdtw-next span {
      left: 8px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: solid 5px;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333333; }
  .zdtw-nav:hover {
    background-color: rgba(0, 0, 0, 0.3); }
