.zd-image-preview {
  margin: 10px 0; }

.zdtw-input-group label {
  display: block;
  font-weight: 700; }
.zdtw-input-group input, .zdtw-input-group textarea {
  display: block;
  width: 100%; }
.zdtw-input-group textarea {
  height: 120px;
  resize: vertical; }
